Body {
    font-family: cursive; 
    font-size: 22px; 
    background-color: teal;
    color: darkgray;
    text-align: center;
}
cite {
    color: Black
}
q {
    font-family: alegrya sc; 
    color:darkslategray; }
#coffee {
        display: block;
        margin-left: auto;
        margin-right: auto;
}